body{
  margin: 0;
  padding: 100px;
}

*{
  box-sizing: border-box;
}
.BMI{
  background-image: linear-gradient(to bottom right, red,yellow);
 padding: 40px;
}
h2{
text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
label{
  margin-bottom: 15px;
  margin-top: 5px;
  
}
input[type=text]{
  width: 35vw;
  padding: auto;
  text-align: center;
  font-size: 10px;
  height: 25px;
}
button{
  margin-top: 15px;
  color: aliceblue;
  background-color: aqua;
  border: 0.1rem solid;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  width: 20vw;
}
.result{
  padding: 5px;
  color: aliceblue;

}
